* {
  box-sizing: border-box;
  border: 1px red solid;
}

body{
  font-family: 'Open Sans', sans-serif;
  height:100vh;
  display:grid;
  grid-template-columns: 30% 70%;
  grid-template-rows:40% 60%;
  place-content:stretch;
  grid-template-areas:
  "aside top"
  "aside bottom"
}

/** top **/
main { 
  height:100vh;
}

.top__section {
  grid-area: top;
  background:#A9AAD2;
  display:flex;
  justify-content: center;
  padding:20px;
  height: 40%;
}

.top__form {
  width:60%;
  /* height:90%; */
  height: 100%;
  display:flex;
  justify-content: space-around;
  flex-direction: column;
}

.top__labels {
  display:block;
  color:#6e646b;
}

.top__input {
  border:#1f1f3d 1px solid;
  padding:5px;
  width:100%;
  height:40px;
}

.top__input--save {
  background:#1f1f3d;
  color:#ffffff;
  padding:5px;
  height:40px;
}

.top__input--search {
  height:40px;
  padding:5px;
}

/********* bottom *************/
.bottom__section {
  height:60%;
  grid-area:bottom;
  background:#eaeaf4;
  border: 4px solid blue;
}

/** aside **/
.aside__section {
  grid-area:aside;
  background:#eaeaf4;
}