* {
  box-sizing: border-box;
}

body{
  display:grid;
  font-family: 'Open Sans', sans-serif;
  height:100vh;
  grid-template-columns: 20% 80%;
  grid-template-rows:40% 60%;
  place-content:stretch;
  grid-template-areas:
  "left top"
  "left bottom"
}

/****************** top **************** **/

.top__container {
  background:#A9aad2;
  display:flex;
  grid-area: top;
  justify-content: center;
  padding:20px;
}

.top__form {
  display:flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width:55%;
}

.top__labels {
  font-size:.8em;
}

.top__input {
  border:#1f1f3d 1px solid;
  height:38px;
  padding:5px;
  width:100%;
}

.top__input--body { 
  height:80px;
}

.top__input--save {
  background:#1f1f3d;
  border:1px solid #1f1f3d;
  color:#ffffff;
  height:40px;
  margin-bottom: 10px;
  margin-top: 15px;
  padding:5px;
}

.top__input--search {
  height:40px;
  padding:5px;
}

.top__input--sort {
  background:#1f1f3d;
  border:1px solid #1f1f3d;
  color:#ffffff;
  height:40px;
  margin-bottom: 10px;
  margin-top: 15px;
  padding:5px;
}

/********* bottom *************/
.bottom__container {
  background:#eaeaf4;
  display: flex;
  flex-wrap: wrap;
  grid-area:bottom;
  min-height:141%;
  padding:25px 15px;
}

.bottom__display--message {
  align-items: center;
  background-color: #d14119;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  font-size: 1.3em;
  font-weight: 700;
  height: 15%;
  justify-content: center;
  margin: 0 auto;
  width: 55%;
}

.bottom__article--card { 
  border-left:solid 2px #1f1f3d;
  border-right:solid 2px #1f1f3d; 
  border-top:solid 2px #1f1f3d;
  display: flex;
  flex-direction: column;
  height:350px;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 20px;
  width:30%;
}

.bottom__header--card { 
  background-color:#1f1f3d;
  display:flex;
  height:10%;
  justify-content: space-between;
}

.bottom__icon--card {
  height:35px;
  width:35px;
}

.bottom__title--card {
  font-weight:700;
  font-size:1.3em;
}

.bottom__section--card {
  background-color: #ffffff;
  font-size: 1.5em;
  font-weight:300;
  height: 80%;
  overflow: break-word;
  padding: 10px;
}

.bottom__footer--card { 
  align-items: center;
  background-color:#5356a4;
  border-bottom:solid 1px #5356a3;
  color:#ffffff;
  display:flex;
  font-weight:bold;
  height:10%;
  justify-content: space-between;
}

/***************************** aside *************************/
h1 {
  color: #e9e9f3;
  font-size:1.1em;
  font-weight:400;
  padding:5px;
}

ul {
  margin-left:-2.5rem;
}

li:hover {
  background-color: #D14119;
  border-left: 4px #F58E72 solid;
}

.aside__label--hidden-menu {
  display: none;
}

.aside__container {
  grid-area:left;
  background:#1f1f3d;
}

.aside__headers {
  color: #e9e9e9;
  font-size:.8em;
  font:300;
}

.aside__section { 
  display:flex;
  flex-direction: column;
  padding:15px;
}

.aside__section--top { 
  border-bottom:1px solid #353567;
  border-top:1px solid #353567;
  height:150px;
  justify-content: space-evenly;
}

.aside__section--bottom {
  border-bottom:1px solid #353567;
  height:325px;
  justify-content: space-evenly
}

.aside__input {
  background-color:#5356A4;
  border:1px solid #5356A4;
  color:#e9e9f3;
  display:flex;
  font-size:.99em;
  height:50px;
  justify-content: center;
}

.aside__input--text {
  background-color:#ffffff;
  margin-bottom:20px;
}

.aside__list {  
  align-items: flex-start;
  color:#ffffff;
  display:flex;
  flex-direction: column;
  font-size:1.1em;
  font-weight:300;
  list-style: none; 
  margin-bottom:10px;
  width:100%;
}

.aside__form { 
  display:flex;
  flex-direction: column;
  margin:5px 0px;
}

@media (max-width: 870px) {

  .aside__input.aside__input--btn {
    font-size: .6em;
  }

  .aside__input {
    font-size: .6em;
  }

  .bottom__display--message {
    font-size: .6em;
  }

  .bottom__article--card {
    width: 45%;
  }
  
  @media (max-width: 538px) {

  body {
    display: grid;
    grid-template-rows: 0%;
    grid-template-columns: 100%;
    grid-template-areas: unset;
  }

  .aside__label--hidden-menu {
    display: inherit;
    display: inline-block;
    margin-right: 100px;
    font-size: 2em;
  }

  .aside__input.aside__input--btn {
    font-size: 1.4em;
  }

  .top__form {
    width: 100%;
  }

  .bottom__article--card {
    height: 250px;
    margin: 10px 0;
    width: 100%;
  }

  .bottom__display--message {
    font-size: .80em;
  }

  .bottom__header--card {
    height: 15%;
  }

  .bottom__footer--card {
    height: 15%;
  }

  .bottom__title--card {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .bottom__paragraph--card {
    margin-top: 10px;
  }